[Unit]
Description=SAQ Sommelier availability checker
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/saq-sommelier
ExecStart=/usr/bin/docker compose run --rm scraper python -m src --availability-check
